@model GoFpg.API.Data.Entities.InsuranceClaim

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InsuranceClaim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfLoss)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfLoss)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsuranceCo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsuranceCo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VINImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VINImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DLImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DLImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InsCardImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InsCardImageId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
