@model IEnumerable<GoFpg.API.Data.Entities.InsuranceClaim>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RONumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RODate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLoss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Damage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repair)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReferralNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltAddress2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltContactName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VINImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DLImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsCardImageId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RONumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RODate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLoss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Damage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReferralNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltAddress2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltContactName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VINImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DLImageId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsCardImageId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
