@model GoFpg.API.Data.Entities.History
<hr/>
<div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.CustomerName)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.CustomerName)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.Email)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.Email)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.PhoneNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.CustoAddress)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.CustoAddress)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Date)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Date)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.RODate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.RODate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.PhoneNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.PhoneNumber)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.User.CustoAddress)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.User.CustoAddress)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.VinNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.VinNumber)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.VehicleDescription)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.VehicleDescription)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.DoorsNBody)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.DoorsNBody)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.Tag)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.Tag)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Mileage)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Mileage)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.LaneDeparture)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.LaneDeparture)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Vehicle.LaneKeep)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Vehicle.LaneKeep)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Damage)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Damage)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.DateOfLoss)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.DateOfLoss)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Repair)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Repair)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.InsuranceCo)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.InsuranceCo)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.PolicyNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.PolicyNumber)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.ScheduleDate)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.ScheduleDate)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.ScheduleTime)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.ScheduleTime)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.CustoAltAddress)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.CustoAltAddress)
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.ReferralNumber)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.ReferralNumber)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <hr />