@model IEnumerable<GoFpg.API.Data.Entities.Quote>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GlassType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerVehicle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VinNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaneKeep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsuranceCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLoss)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GlassType.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerVehicle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VinNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaneKeep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsuranceCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLoss)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuoteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuoteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuoteId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
