@model GoFpg.API.Data.Entities.RepairOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RepairOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasReferral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasReferral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArePartsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArePartsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsScheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsScheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPictures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInstalled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInstalled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCalibration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCalibration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalibrationDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalibrationDone)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
