@model GoFpg.API.Data.Entities.RepairOrder

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RepairOrder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quote.Email)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PolicyImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PolicyImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasReferral)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasReferral)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PartNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArePartsAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArePartsAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsScheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsScheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TagImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TagImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DamageImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DamageImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullDamageImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullDamageImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VinImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VinImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteriorImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteriorImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasPictures)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasPictures)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasSignature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasSignature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mileage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstallDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstalledImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstalledImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Installed2ImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Installed2ImageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInstalled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInstalled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCalibration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCalibration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalibrationDone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalibrationDone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SignedROImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SignedROImageId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RepairOrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
